<% if google_volume.ratings_count %>
	<p>
		<%= google_volume.average_rating %>
	</p>

	<p>
		<%= google_volume.ratings_count %> ratings
	</p>
<% end %>

<p>
	Publisher: <%= google_volume.publisher %>
</p>

<p>
	Publishing date: <%= google_volume.published_date %>
</p>

<p>
	ISBN: <%= google_volume.isbn %>
</p>

